// php variables
$--php-color-1: #474a8a !default;
$--php-color-2: #787cb5 !default;
$--php-color-3: #b0b3d6 !default;

// javascript variables
$--javascript-color-1: #f0db4f !default;
$--javascript-color-2: #323330 !default;
